<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RRPMIC-Create equation</title>
    <%- include('./partials/Style')%>
</head>
<body>
<main>
    Introduza a password do router:
    <form action="/create" method="post">
        <input name="password" type="text">
        <button type="submit">Criar</button>
    </form>

</main>
</body>
</html>