<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RRPMIC-Create equation</title>
    <%- include('./partials/Style')%>
</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-primary sticky-top" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/" >
                RRPMic
            </a>
        </div>
    </nav>
    <% if(certo) {%>
    <div class="box">
        <div>
            <b>Correto!</b>
        <br>
            <b>A password é: <%=router.password%></b>
        </div>
    </div>
    <%} else {%>
    <div>
        <b>Nada lol</b>
    </div>
    <%}%>
</div>
</body>
</html>